<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>업로드 미션</title>
</head>
<body>
    <div> th:if="${message}"
        <h3> th:text="${message}"</h3>
    </div>
    <!--name은 handler에서 맵핑하는 @RequestParam의 value와 같아야함-->
    <form action="#" method="POST" enctype="multipart/form-data" th:action="@{/file}">
        <input type="file" name="file"> </br>
        <input type="submit" value="업로드">
    </form>
</body>
</html>